.list__wrapper {
    display: flex;
    flex-direction: column;
}

.list__control-panel {
    display: flex;
    padding: 24px;
    gap: 8px;
    border-bottom: 1px solid #ccc;
}

.control-panel__item--clearlist {
    margin-left: auto;
}

.list__body {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.list__item {
    display: flex;
    align-items: center;
    padding: 10px; 
    border-bottom: 1px solid #ddd;
    -webkit-user-select: none; /* Chrome, Safari, Opera */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Internet Explorer/Edge */
    user-select: none;         /* Стандарт */
}

.list__item-checkbox {
    margin-right: 10px;
}

.list__item-input {
    flex: 1; 
    margin-right: 8px;
    padding: 5px;
}

.list__item-input:focus {
    outline: none;
}

.list__item-actions {
    margin-left: auto;
    display: flex;
    gap: 8px;
}

.list__item-confirm,
.list__item-cancel,
.list__item-decline {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.list__item-confirm svg {
    fill: #4CAF50;
}

.list__item-input--error {
    border: 1px solid red;
}

.list__item--completed {
    background-color: #f0f0f0;
    color: #999;
}

.list__item--completed span {
    text-decoration: line-through;
}

.list__item--completed .list__item-complete {
    display: none;
}